<div class="header coloredBackground absolute"><h1>Nasa Near Earth Objects</h1></div>
<div class='logo'>
    <button (click)="navigatePage()" id="menu-button" class="menu-button">
        <span class="material-symbols-outlined">
            menu
        </span>
        </button>
</div>
<!-- Popout Screen for menu-->
<div id="myModal" class="modal" [ngClass]="{'active': isActive}">
    <div class="modal-content">
        <span (click)="navigatePage()" id="close" class="close">&times;</span>
        <p id="modalDescription" *ngFor="let link of links">
            <a [routerLink]="link.url" >{{ link.text }}</a>
        </p>
    </div>
</div>
<!-- @if(about){
    <div class="about">
        <p>{{picDesc}}</p>
    </div>
} -->