h1 {
    display: flex;
    justify-content: center;
    font-size: 5vh;
}

.absolute{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    /* height: 120vh; */
}

.coloredBackground {
    backdrop-filter:blur(5px);
    /* background-color: rgba(30, 64, 94, 0.13); */
    border-bottom: 2px ridge rgba(255, 255, 255, 0.171);
}

.header{
    height: 15vh;
}

.logo {
    display: flex;
    position: absolute;
    transform: translate(10px,30px);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: rgba(9, 61, 121, 1) 47%;
}

.menu-button {
    position: absolute;
    top: 2vh;
    left: 15vw;
    font-size: larger;
    transform: scale(2);
    cursor: pointer;
}

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 0;
    left: -100%;
    top: 0;
    width: 15%;
    height: 100vh;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* color: rgb(255, 255, 255); */
    transition: left .3s ease-in-out;
    /* Black w/ opacity */
}

.modal.active {
    left: -0;
}

.modalDescContainer{
    margin: 20vh 0;
}

.modalDescription {
    display: flex;
   top: 1em;
   color: rgb(255, 255, 255);
   color:rgb(255, 255, 255);
   padding:  .2em 20%;
   font-size: 150%;
   overflow: hidden;
}

a{
    color: inherit;
}

a:hover{
    color: rgba(255, 255, 255, 0.76);
}

.close {
    transform: scale(2);
    position: absolute;
    right: 1em;
    top: 1.5em;
}

.close:hover,
.close:focus {
    color: rgba(255, 0, 0, 0.815);
    text-decoration: none;
    cursor: pointer;
}