h1 {
    display: flex;
    justify-content: center;
    font-size: 5vh;
}
.img {
    height:100%;
    width:100%;
}

.absolute{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 98.7vw;
}

.image {
    z-index: -1;
    max-height: 140vh;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 20%;
    right: 30%;
    max-width: 20%;
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
}

.coloredBackground {
    background-color: rgba(0, 0, 0, 0.404);
}

.header{
    height: 15vh;
}

.right {
    float: right;
}