.fill {
    height: 70vh;
    width: 70vw;
    margin: 20vh 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.103);

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: center;

    /* opacity: .5; */
}

.fillCard {
    opacity: 1;
    /* width: 45%; */
    height: 95%;
    background-color: rgba(100, 100, 100, 0.185);
    /* border-radius: 10px; */
    border: 2px solid rgba(255, 255, 255, 0.103);
    /* text-align: center; */
    /* margin: 1%; */
}

.fillCard:first-child {
    width: 25%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.fillCard:nth-child(2) {
    flex: 1;
    margin: 0px 1%;
    justify-items: left;
    /* padding: 1em; */
    align-content: center;
    overflow: hidden;
    overflow-x: hidden;
}

.margin{
    margin: 1em 2em;
}

/* .fillCard app-object-card :hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
} */

.fillCard:first-child app-object-card:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* .fillCard:first-child:hover {
    background-color: aquamarine;
} */


.circle {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0, .8);
    border-radius: 50%;
}

/* 12,734,000 meters  Actual diameter of Earth* Could Fact Check that*/

.earthCircle {
    width: 127.34px;
    height: 127.34px;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 50%;
}

.blueCircle {
    display:inline-block;
    width:10px;
    height:10px;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 50%;
}

.redCircle {
    display:inline-block;
    width:10px;
    height:10px;
    background-color: rgba(255, 0, 0, 0.836);
    border-radius: 50%;
}

.p-line {
    display:inline-block;
    margin:0;
}

/* zoom-container.component.css */
.zoom-container {
    overflow: hidden;
    width:23vw;
    height:31vh;
    /* width: 160%;
    height: 28rem; */
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.zoom-content {
    /* justify-items: center; */
    /* transform-origin: 0 0;  Left align*/
    transform-origin: center center;
    transition: transform 0.2s ease;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px
}

.zoom-item {
    margin: 10px;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid #000;
}

.smallText {
    font-size: .8em;
    margin: .5em 0px;
}

.nData{
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 75%;
}

.nDataCard{
    margin: .5em;
    flex: 1;
}
.nDataCard:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* .absolute2{
    position: absolute;
    top: 0;
    left: 0;
} */

button{
    float: right;
}

.centered{
    text-align: center;
    width: 100%;
    margin: 0;
}

.details{
    font-size: 2em;
}

@media screen and (max-width: 1600px){
    .details{
        font-size: 1em;
    }
}