.fill {
    background-color: rgba(0, 0, 0, 0.486);
    height: 70vh;
    width: 70vw;
    margin: 15vh 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.103);
}

.fillCard {
    /* width: 45%; */
    height: 95%;
    background-color: rgba(100, 100, 100, 0.185);
    /* border-radius: 10px; */
    border: 2px solid rgba(255, 255, 255, 0.103);
    /* margin: 1%; */
}

.fillCard:first-child{
    width: 25%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.fillCard:nth-child(2){
     flex: 1;
     margin: 0px 1%;
     justify-items: center;
     align-content: center;
}

/* .fillCard app-object-card :hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
} */

.fillCard:first-child app-object-card:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* .fillCard:first-child:hover {
    background-color: aquamarine;
} */
