<div class="fill">
    <div class="fillCard">
        @for(object of neoData; track object){
        <app-object-card (click)='setCurr(object)'>
            <div name> {{object.name}} </div>
            <div hazard> {{object.is_potentially_hazardous_asteroid}} </div>
            <div id> {{object.id}} </div>
            <!-- <div class="circle" [ngStyle]="getCircleSize(estimated)" ></div> -->
        </app-object-card>
        }
    </div>
    <div class="fillCard">
        <div *ngIf="!itemSelected">Select a Object from the list</div>
        <div *ngIf="itemSelected">
            <p>Magnitude: {{defaultMagnitude()}}</p>
            <p>Is Hazardous: {{defaultHazard()}}</p>
            <p>Estimated Miss Distance(Miles): {{currInfo().missDistance}}</p>
            <p>Estimated Minimum Diameter(Miles): {{currInfo().minDiameter}}</p>
            <p>Estimated Maximum Diameter(Miles): {{currInfo().maxDiameter}}</p>
            <p>Estimated Velocity in Miles: {{defaultVelocity()}}</p>
            <p>Orbiting Body: {{defaultOrbiting()}}</p>

            <br>
            <p>*Sizes are proportion to Scale</p>
            <p class = "p-line">Earth:  </p><div class = blueCircle></div> <br>
            <p class = "p-line">Near Object: </p> <div class = redCircle></div>
            <!-- zoom-container.component.html -->
            <div class="zoom-container" (wheel)="onZoom($event)">
                  <div class="zoom-content">

                    <div class=" circle" [ngStyle]="getCircleSize(currMeters())"></div>
                    <br>
                    <div class="earthCircle"></div>
                </div>
            </div>


            <br>
            <button (click)=navigateUrl(defaultUrl())>For more Info</button>
        </div>
    </div>
</div>